html {
  box-sizing: border-box;
  height: 100vh;
  font-family: Lucida Console, Lucida Sans Typewriter, monaco,
    Bitstream Vera Sans Mono, monospace;
  background-color: #000229;
  background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

*, *:before, *:after {
  box-sizing: inherit;
}

pre {
  text-align: center;
  margin-top: 50px;
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#React {
  height: 100%;

  .App {
    height: 100%;
    color: white;

    .gear {
      position: absolute;
      top: 60px;
      right: 20px;
      background: url(../assets/icons/gear.svg) left top;
      width: 26px;
      height: 26px;
      z-index: 20;
      cursor: pointer;
      transition: .5s all ease-out;

      &:hover {
        transform: rotate(45deg);
      }
    }
  }
}

.App-grid {
  display: grid;
  grid-auto-rows: 60px 1fr auto;
  height: 100%;
}

.hidden {
  visibility: hidden;
}

@import "TopNav.less";
@import "SideBar.less";
@import "Footer.less";
@import "Calc.less";
