.SideBar {
  height: calc(100vh - 60px);
  width: 15vh;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  padding-top: 30px;
}

.SideBarSetting {
  padding: 10px;
  font-size: 12px;

  h3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 80%;
  }

  input {
    display: block;
  }

  p {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 50%;
  }
}
